{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='jquery.dataTables.css') }}">
{% endblock %}

{% block content %}
    <h1>{{ name }}</h1>
    {{ data.to_html(classes="table table-striped display", table_id="amir") | safe }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('.static', filename='table.js') }}"></script>
{% endblock %}